# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# IDE/editor files
.idea/
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
.DS_Store

